/*
 * Print stylesheet.
 */

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    background-color: white;
  }

  .main {
    zoom: 45%;
    min-width: 420mm;
    min-height: 600mm;
  }

  .tab label, .tab-print .content > p {
    display: none;
  }

  .content {
    top: 0;
  }

  .tab-print form {
    margin: 0;
  }

  .tab-print form input {
    display: none;
  }
}
